body {
  font-family: Arial;
}

.title {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  width: 512px;
}

.title .flags {
  position: absolute;
  right: 0;
  top: 0;
}

.title .flags span {
  font-size: 12px;
}

.title:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #aaa;
  z-index: -1;
}

.centerframe {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 6px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 2px solid #ccc;
  margin-left: 3px;
  margin-right: 3px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  transition: all 0.5s;
}

.letter.filled {
  border: 2px solid #777;
  color: black;
}

.letter.useless {
  border: 2px solid #777;
  background-color: #777;
  color: white;
}

.letter.nothere {
  border: 2px solid #cb5;
  background-color: #cb5;
  color: white;
}

.letter.correct {
  border: 2px solid #6a6;
  background-color: #6a6;
  color: white;
}

.popup {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background-color: #777;
  color: white;
  transition: opacity 0.2s;
}

.fork {
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(-6px);
  }
}

.bounce {
  animation: bounce 0.15s 3 alternate;
}
