body {
  font-family: Arial;
}

.title {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 300px;
}

.title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #aaa;
  z-index: -1;
}


.centerframe {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.letter {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #aaa;
  margin-left: 5px;
  margin-right: 5px;
}
